{% extends "layout.njk" %}

b{% block content %}
    <div class="card table-container">
        <a href="/members/create">New</a>
        <table width="100%">
            <thead>
                <tr>
                    <th>Instructor</th>
                    <th>Services</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for instructor in instructors %}
                    <tr>
                        <span style="background-image: url({{insctructor.avatar_url}})"></span>
                        <td>A{{instructor.name}}</td>
                        <td>A{{instructor.services}}</td>
                        <td>
                            <a href="/instructors/{{instructor.id}}">Details</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}